# 필수
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
# KEYCLOAK_PORT=8180

# 선택 (기본값 사용 시 생략 가능)
# POSTGRES_PORT=5432
# REDIS_PORT=6379
# KAFKA_PORT=9092
# KAFKA_UI_PORT=8989